body {
  font-family: Helvetica, sans-serif;background-color:#222327;color:#8fa0b3;
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-left: 50px;
}
.introduction {
  background-color:#303238;
  padding-top:20px;
  padding-bottom:20px;
  padding-right:20px;
  padding-left:20px;
  border-radius:20px;
}
