body {
  font-family: Helvetica, sans-serif;
  background-color:#222327;
  color:#8fa0b3;
  background-image: url('bgtile.png');
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-left: 50px;
}
.boxbg {
  background-color:#27292d;
  padding:20px;
  border-radius:15px;
  margin:30px 0 0 0;
}
.box {
  padding:20px;
  border-radius:15px;
  margin:10px 0 0 0;
}
h2 {
  margin: 0 0 10px;
  color:white;
}
h3 {
  margin: 0 0 10px;
}
.navigation:link {
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
  color:white;
  background-color:#7f6ce8;
}
.navigation:visited {
  text-decoration: none;
  color:grey;
}
.navigation:hover {
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
  background-color:#7f6ce8;
  opacity: 0.6;
  transition: 0.3s;
}
a:link {
  text-decoration: none;
  color:#7f6ce8;
}
a,a:visited {
  text-decoration: none;
  color:grey;
}
a:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  margin: 10px;
}
.cell {
  text-align: center;
  padding: 2px 5px;
}
.cell.hstart {
  border-right: solid 1px;
}
.cell.vstart {
  border-bottom: solid 1px;
}
b {
  color:lightblue;
}
