body {
  font-family: Helvetica, sans-serif;background-color:#222327;color:#8fa0b3;
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-left: 50px;
}
section {
  background-color:#303238;
  padding:30px;
  border-radius:20px;
  margin:20px 0;
}
h2 {
  margin: 0 0 10px;
}
